  // TODO: get rid of duplication of styles with post.component
  .blog-post {
    margin-bottom: 3rem;
  }
  .blog-post-title {
    margin-bottom: .25rem;
    font-size: 2rem;
  }
  .blog-post-meta {
    margin-bottom: 1.25rem;
    color: #999;
  }

  @media (min-width: 40em) {
    .blog-post-title {
      font-size: 2.5rem;
    }
  }