<div class="blog-post">
    <h2 class="blog-post-title">
        <a [routerLink]="['/post', post.id]">
            {{post.title}}
        </a>
        <span *ngIf="!post.isPublished" class="text-muted"> [Unpublished]</span>
    </h2>
    <p class="blog-post-meta">
        <span *ngIf="!post.isPublished">Edited at {{post.dateUpdated | date:'longDate'}} by {{post.userName}}</span>
        <span *ngIf="post.datePublished && post.isPublished">{{post.datePublished | date:'longDate'}} by {{post.userName}}</span>
        <span *ngIf="canModify | async">
            <a [routerLink]="['/post', post.id, 'edit']" class="btn btn-primary btn-xs" title="Edit">
                <span class="glyphicon glyphicon-pencil"></span>
            </a>
            <button type="button" class="btn btn-success btn-xs" title="Publish" *ngIf="!post.isPublished" (click)="confirmPublishing(); $event.stopPropagation()">
                <span class="glyphicon glyphicon-ok"></span>
            </button>
            <button type="button" class="btn btn-danger btn-xs" title="Delete" (click)="confirmDeleting(); $event.stopPropagation()">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
        </span>
        <span class="pull-right">
            <span class="glyphicon glyphicon-comment"></span> {{post.commentsCount}} Comment(s)</span>
    </p>

    <div *ngIf="post.imageUrl">
        <a [routerLink]="['/post', post.id]">
            <img src="{{post.imageUrl}}" class="img-responsive">
        </a>
    </div>
    <div>
        <p>{{post.excerpt}}</p>
    </div>
    <p>
        <span *ngFor="let tag of post.tags">
            <a [routerLink]="['/posts/tag', tag]" class="btn btn-success">
                {{tag}}
            </a>
        </span>
    </p>
</div>