<div class="container" *ngIf="post">
    <div class="row">
        <div class="col-sm-12 blog-main">
            <div class="blog-post">
                <h2 class="blog-post-title">{{post.title}}</h2>

                <app-post-meta [post]="post"></app-post-meta>
                
                <!--TODO: consider to show the image on detail page <div *ngIf="post.imageUrl">
                    <img src="{{post.imageUrl}}" class="img-responsive">
                </div> -->

                <div [innerHtml]="post.content| keepHtml"></div>
            </div>
        </div>
    </div>
</div>

<app-comment-box [post]="post"></app-comment-box>